#wrapper1
{
    display:flex;
    border: 1px solid black;
    background-image: url('/img/itemshopbackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 10vh;
    padding: 5px;
    gap: 15px;
}

#wrapper2
{
    display:flex;
    border: 1px solid black;
    background-image: url('/img/itemshopbackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 86vh;
    padding: 0pxm 50px 0px 0px;
}

#header1
{
    order:1;
    border: solid 1px black;
    width: 9%;
    background-image: url('/img/csgorolllogo.png');
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;
}

#header2
{
    order:2;
    border: solid 1px black;
    width: 4%;    
    padding-top: 40px;
    padding-left: 5px;
    font-size: small;
}

#header3
{
    order:3;
    border: solid 1px black;
    width: 4%;
    padding-top: 40px;
    padding-left: 5px;
    font-size: small;
}

#header4
{
    order:4;
    border: solid 1px black;
    width: 4%;
    padding-top: 40px;
    padding-left: 25px;
}

#header5
{
    order:5;
    border: solid 1px black;
    width: 5%;
    padding-top: 40px;
    padding-left: 4px;
    font-size: x-small;
}

#header6
{
    order:6;
    border: solid 1px black;
    width: 4%;
    padding-top: 40px;
    padding-left: 3px;
    font-size: x-small;
}

#space{
    order:7;
    width: 39%;
}

#header7
{
    order:8;
    border: solid 1px black;
    width: 5%;
    font-size: 70%;
    padding-top: 20px;
}

#header8
{
    order:9;
    border: solid 1px black;
    width: 10%;
    font-size: 70%;
    padding-top: 20px;
    padding-left: 15px;
}

/* */
/* */
/* */
/* */
/* */

#section1
{
    order:1;
    border: solid 1px black;
    width: 16%;
    text-align: center;
    padding-top: 78vh;
}

#section2
{
    position: relative;
    z-index: 10;
    order: 2;
}

#section3
{
    order:3;
    border: solid 1px black;
    width: 20%;
    text-align: center;
    padding-top: 60vh;
}

#section4
{
    order:4;
    border: solid 1px black;
    width: 2.5%;
}

#section5
{
    order:5;
    border: solid 1px black;
    width: 20%;
    text-align: center;
    padding-top: 60vh;
}

#section6
{
    order:6;
    border: solid 1px black;
    width: 2.5%;
}

#section7
{
    order:7;
    border: solid 1px black;
    width: 20%;
    text-align: center;
    padding-top: 60vh;
}

#section8
{
    order:7;
    border: solid 1px black;
    width: 2.5%;
}

#section9
{
    order:7;
    border: solid 1px black;
    width: 20%;
    text-align: center;
    padding-top: 60vh;
}

#bettext
{
    color: white;
    text-align: center;
    display: inline-block;
    padding: 10px 53px 10px 53px;
    border: 1px solid white;
    border-radius: 8px;
}

#text
{
    text-align: center;    
    font-size: small;
    color: white;
    border: 1px solid rgb(46, 44, 44);
    display: inline-block;
    margin: 15px 40px;
}

#chat
{
    color: white;
    text-align: center;
}

.roulette-wheel
{
    padding-top: 190px;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.selector
{
    width: 3px;
    background: grey;
    left: 50%;
    height: 100%;
    transform: translate(50%, 0%);
    position: absolute;
    z-index: 2;
}

.wheel
{
    display: flex;
}

.row
{
    display: flex;
}

* {
    box-sizing: border-box;
}

.card.red {
    background: #F95146;
}

.card.black {
    background: #2D3035;
}

.card.green {
    background: #00C74D;
}

.card
{
    width: 75%;
    height: 75%;
    margin: 3px;
    border-radius: 8px;
    border-bottom: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font: 1.5em;
}

.roulette-section
{
    display: flex;
    flex: 1;
    position: relative;
    border: 1px solid black;
    background-size: cover;
    background-image: url('/img/itemshopbackground.png');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 86vh;
}

.roulette-overlay
{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}